.smiley-container {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 32px;
    height: 32px;

    align-items: center;     // Center items horizontally
    justify-content: center; // Center items vertically
}