@import '/src/variables.scss';

.main-container {
    display: flex;
    height: 100vh;
}

app-side-panel {
    background-color: #fafafa;
    flex: 0 0 auto; 
    width: 320px; 
    height: 100%;
}

app-content-view {
    flex: 1; 
    height: 100%; 
}