@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');
@import '/src/variables.scss';

$red-hat-display: 'Red Hat Display', sans-serif;

body {
  font-family: $red-hat-display;
  margin: 0;
}

.margin-horizontal {
  margin-left: 4px;
  margin-right: 4px;
}

.center {
  align-items: center;     // Center items horizontally
  justify-content: center; // Center items vertically
}

.center-horizontal {
  justify-content: center; // Center items horizontally only
}

.center-vertical {
  align-items: center; // Center items vertically only
}